# sing-box seed binaries are fetched at install/build time and are intentionally
# not committed (large, separately licensed). Keep the layout docs tracked, ignore
# generated seed payloads.
*
!.gitignore
!README.md
