# Proxy core binaries are fetched at build time by scripts/fetch-cores.mjs and are
# intentionally NOT committed (large, separately-licensed; redistribute_in_installer=false).
# Keep the layout + docs tracked, ignore everything else (incl. xray/, mihomo/, sing_box/).
*
!.gitignore
!README.md
